.logo {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.logo__container {
  flex-shrink: 0;
}

.logo__title {
  font-size: 25px;
  font-weight: bold;
}

.logo__location {
  font-size: 15px;
  color: gray;
  align-self: start;
}
