.comments__sort-flex {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.comments__sort-container {
  display: flex;
  align-items: center;
  gap: $spacing-middle;
}

.comments__flex-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em 0;
}

.comments__comment-input {
  display: flex;
  align-items: center;
  gap: 1.5em;
  position: relative;
}

.comments__comment-input > img {
  border-radius: 50%;
}

.comments__comment-input > input {
  border-style: none;
  border-bottom: 3px solid $border-gray-color;
  width: 100%;
  font-size: 1.1rem;
  transition-duration: 0.5s;
  transition-property: border-bottom;
  transition-timing-function: ease-in-out;
}

.comments__comment {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "comment-profile comment-name"
    "comment-profile comment"
    "comment-profile comment-controls";
  grid-gap: 0.4em 1.5em;
  margin-bottom: 30px;
}

.comments__comment > img {
  grid-area: comment-profile;
  border-radius: 50%;
}

.comments__name {
  grid-area: comment-name;
}

.comments__text {
  grid-area: comment;
}

.comments__controls {
  grid-area: comment-controls;
  display: flex;
  align-items: center;
  gap: 30px;
}
#komentar {
  background: transparent;
}

.comments__comment-input > input:focus {
  border-color: black;
}
