.header {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 0.2em;
  grid-column: 2 / 3;
  gap: 10px;
  background: white;
  z-index: 1;
}

.header__form {
  flex: 1;
}

.header__input-search {
  width: 100%;
  min-height: 40px;
  border: lightgray solid 1px;
  font-size: 20px;
  color: gray;
  padding-left: 0.5em;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 60%;
  max-width: 728px;
}
