.sidebar__video {
  display: flex;
  gap: 0.7em;
  margin-bottom: 0.5em;
}

.sidebar__thumbnail {
  grid-area: sb-image;
  height: min-content;
}
.sidebar__thumbnail > img {
  max-width: 100%;
}

.sidebar__info {
  grid-area: sb-info;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 25px;
  column-gap: 0.5em;
  line-height: 1;
}

.sidebar__views,
.sidebar__date,
.sidebar__profile {
  color: gray;
  font-size: 1.1rem;
}

.sidebar__title {
  font-weight: 500;
}
